/* Definición de variables CSS (Custom Properties) para los colores */
:root{
    --color1: #88E200;  /* Color verde claro */
    --color2: #73C000;  /* Color verde medio */
    --color3: #8FEB00;  /* Color verde brillante */
    --color4: #5F9E00;  /* Color verde oscuro */
    --color5: #4A7C00;  /* Color verde muy oscuro */
    --color6: #365A00;  /* Color verde casi negro */
}

/* Estilo de la página de canchas */
#courts-page{
    background-color: var(--color5);  /* Fondo verde oscuro */
    width: 910px;                     /* Ancho de la página */
    top: 227px;                       /* Posición superior en la pantalla */
    left: 14px;                       /* Posición desde la izquierda */
    height: fit-content;              /* Ajusta la altura del contenedor según el contenido */
    position: absolute;               /* Posicionamiento absoluto respecto al contenedor padre */
}
