:root{
    --color1: #88E200;
    --color2: #73C000;
    --color3: #8FEB00;
    --color4: #5F9E00;
    --color5: #4A7C00;
    --color6: #365A00;
}

#courts-page{
    background-color: var(--color5);
    width: 910px;
    top: 227px;
    left: 14px;
    height: fit-content;
    position: absolute;
}