/* Definición de colores personalizados */
:root {
    --color1: #88E200; /* Verde claro */
    --color2: #73C000; /* Verde medio */
    --color3: #8FEB00; /* Verde brillante */
    --color4: #5F9E00; /* Verde oscuro */
    --color5: #4A7C00; /* Verde más oscuro */
    --color6: #365A00; /* Verde muy oscuro */
}

/* Estilo para el mensaje de bienvenida */
#msg-main, #msg-courts, #msg-community,#msg-info,#msg-about {
    font-family: 'Anton', sans-serif; /* Fuente utilizada para el mensaje */
    font-size: 150%; /* Tamaño de la fuente 150% */
    text-align: center; /* El texto se alinea al centro */
    margin: 15px 30px 0px 30px; /* Márgenes alrededor del mensaje */
    color: whitesmoke; /* Color del texto es blanco roto */
    letter-spacing: 1px; /* Espaciado entre letras */
}

/* Estilos para la página principal (main-page) */
#main-page, #courts-page, #community-page,#abour-page,#info-page {
    background-color: var(--color5); /* El fondo de la página es el color verde más oscuro */
    width: 97%; /* La página ocupa el 97% del ancho de la ventana */
    height: 75%; /* La altura de la página es el 75% de la ventana */
    position: absolute; /* Se coloca de forma absoluta en la página */
    top: 227px; /* La posición desde el top de la ventana es de 227px */
    left: 50%; /* Se centra horizontalmente */
    display: block; /* Se muestra como bloque */
    transform: translateX(-50%); /* Se ajusta horizontalmente para centrarla perfectamente */
}

/* Estilo del fondo de la página */
body {
    background-color: var(--color6); /* El fondo de la página tiene el color más oscuro de la paleta */
}

/* Clase que oculta los elementos */
.hidden {
    display: none; /* La propiedad 'display: none' oculta el elemento */
}

/* Estilo general para las secciones (main) */
main {
    opacity: 0; /* Inicia con opacidad 0, es decir, invisible */
    visibility: hidden; /* Está oculto por defecto */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Transición suave para hacer visible la sección */
}

/* Clase que hace visible la sección */
main.show {
    opacity: 1; /* La opacidad se vuelve 1, es decir, visible */
    visibility: visible; /* La sección se vuelve visible */
}