:root{
    --color1: #88E200;
    --color2: #73C000;
    --color3: #8FEB00;
    --color4: #5F9E00;
    --color5: #4A7C00;
    --color6: #365A00;
}

#main-page{
    background-color: var(--color5);
    width: 97%;
    height: 75%;
    position: absolute;
    top: 227px;
    left: 50%;
    display: block;
    transform: translateX(-50%);
}

#welcome-message{
    font-family: 'Anton', sans-serif;
    font-size: 150%;
    text-align: center;
    margin: 15px 30px 0px 30px;
    color: whitesmoke;
    letter-spacing: 1px;
    
}

#map {
    height: 550px;
    width: 95%;
    top: 14px;
    left: 22px;
    border-radius: 5px;
}

.popup-content img {
    width: 200px;
    height: auto;
}

